@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  font-family: 'Nunito'; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

#app {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; }

.exercise {
  flex-grow: 1;
  display: flex; }
  .exercise .exercise-box {
    max-width: 400px;
    max-height: 600px;
    flex-grow: 1;
    margin: auto;
    display: grid;
    grid-gap: 20px; }
    .exercise .exercise-box .task {
      width: 100%;
      border-left: 4px solid #ccc;
      padding-left: 5px;
      font-size: 1.4rem; }
    .exercise .exercise-box .question {
      font-size: 1.2rem; }

.user-input {
  display: flex;
  flex-direction: column; }
  .user-input textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px; }

.header {
  color: #ddd;
  font-size: 0.8em; }

.footer {
  width: 100vw;
  display: flex;
  flex-direction: column; }

.correct-answer {
  background-color: #a3be8c;
  min-height: 100px; }

.incorrect-answer {
  background-color: #bf616a;
  min-height: 100px; }

.in-progress {
  background-color: #ccc;
  min-height: 100px; }

.button-bar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  min-height: 100px;
  align-items: center;
  margin: auto;
  max-width: 800px; }
  .button-bar .button-wrapper1 {
    grid-column: 1; }
  .button-bar .button-wrapper2 {
    grid-column: 3; }
  .button-bar .button-wrapper3 {
    grid-column: 5; }
  .button-bar button {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
    outline: none;
    min-width: 70px; }
    .button-bar button:focus {
      outline: none; }

